---
layout: default
---

<!--research list-->
<section class="research">

	<div class="container">
		<h1>Current Projects</h1>
		<div class="flow project-list">
			<a class="flow-project" target="_blank" href="https://arxiv.org/abs/2505.09862">
				<div class="project-body">
					<img src="{{ site.baseurl }}/assets/images/rhetorical_XAI.jpg" alt="Rhetorical XAI">
					<div class="project-title">
						<h2>Rhetorical XAI</h2>
						<h3>Explaining AI’s Benefits as well as its Use via Rhetorical Design</h3>
					</div>
				</div>
			</a>
			<a class="flow-project" target="_blank" href="https://arxiv.org/abs/2412.04629">
				<div class="project-body">
					<img src="{{ site.baseurl }}/assets/images/LLM-debate-project.jpg" alt="LLM-debate">
					<div class="project-title">
						<h2>Argumentative Experience</h2>
						<h3>Reducing confirmation bias through LLM-generated multi-persona debates</h3>
					</div>
				</div>
			</a>
			{% assign sortedPosts = site.active %}
			{% for project in sortedPosts %}
			{% if project.status == "active" %}
			<a class="flow-project" href="{{ site.baseurl }}{{ project.url }}.html">
				<div class="project-body">
					<img src="{{ site.baseurl }}/assets/images/{{ project.heroimage }}" alt="">
					{% if project.type == "project" %}
						<div class="project-title">
							<h2>{{ project.title }}</h2>
							<h3>{{ project.subtitle }}</h3>
						</div>
					{% endif %}
				</div>
			</a>
			{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="container">
		<h1>Archived Projects</h1>
		<div class="flow project-list">
			<a class="flow-project" target="_blank" href="https://designforemergency.org/">
				<div class="project-body">
					<img src="{{ site.baseurl }}/assets/images/designforemergency.jpg" alt="">
					<div class="project-title">
						<h2>Design for Emergency</h2>
						<h3>An Open Design Platform to Face Emerging Issues</h3>
					</div>
				</div>
			</a>
			<a class="flow-project" target="_blank" href="https://sonification.design/">
				<div class="project-body">
					<img src="{{ site.baseurl }}/assets/images/sonification.jpg" alt="">
					<div class="project-title">
						<h2>Data Sonification Archive</h2>
						<h3>Explore the Potential of Sound in Complementing Representation and Broadening the Publics of
							Data</h3>
					</div>
				</div>
			</a>
			{% assign sortedPosts = site.archived | sort: 'year' | reverse%}
			{% for project in sortedPosts %}
			{% if project.status == "active" %}
			<a class="flow-project" href="{{ site.baseurl }}{{ project.url }}.html">
				<div class="project-body">
					<img src="{{ site.baseurl }}/assets/images/{{ project.heroimage }}" alt="">
					{% if project.type == "project" %}
						<div class="project-title">
							<h2>{{ project.title }}</h2>
							<h3>{{ project.subtitle }}</h3>
						</div>
					{% endif %}
					{% if project.type == "poster" %}
					<div class="project-title">
						<h3>{{ project.title }}</h3>
					</div>
					{% endif %}
				</div>
			</a>
			{% endif %}
			{% endfor %}
		</div>
	</div>

	<!--poster list-->
	<!-- <div class="container">
		<h1>Posters</h1>
		<div class="flow project-list">
			{% for project in site.posters %}
			<a class="flow-project" href="{{ site.baseurl }}{{ project.url }}.html">
				<div class="project-body">
					<img src="{{ site.baseurl }}/assets/images/{{ project.heroimage }}" alt="">
					<div class="poster-title">
					</div>
				</div>
			</a>
			{% endfor %}
	</div> -->
</section>