<!--begin header include-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Houji</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"> -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fontawesome.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/brands.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/solid.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bulma.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/academicons.min.css">
<style>ol.bibliography li { list-style: square }</style>
<!-- <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.jpg"/> -->
</head>

<body>
    <nav class="nav">
        <div class="container">
          <a href="{{ site.baseurl }}/iSchoolDisplay/wave1.html" class="nav-item">Wave1</a>
          <!-- <a href="{{ site.baseurl}}/iSchoolDisplay/wave2.html" class="nav-item disabled-link" aria-disabled="true">Wave2</a> -->
          <a href="{{ site.baseurl}}/iSchoolDisplay/wave2.html" class="nav-item">Wave2</a>
        </div>
      </nav>
</body>
<!--end header include-->
