---
---
<div>
    {{reference}}
    {% if entry.doi %}
        <a style="font-weight: 700; color: rgb(141, 141, 141);" href="{{ entry.doi | prepend: 'https://doi.org/' }}">doi</a>
    {% endif %}
    {% if entry.arxivid %}
        <a style="font-weight: 700; color: rgb(141, 141, 141);" href="{{ entry.arxivid | prepend: 'https://arxiv.org/abs/' }}">arxiv</a>
    {% endif %}
    {% if entry.pdf %}
        <a style="font-weight: 700; color: rgb(141, 141, 141);" href="{{ entry.pdf }}">pdf</a>
    {% endif %}
    {% if entry.code %}
        <a style="font-weight: 700; color: rgb(141, 141, 141);" href="{{ entry.code }}">code</a>
    {% endif %}
    {% if entry.preprint %}
        <a style="font-weight: 700; color: rgb(141, 141, 141);" href="{{ entry.preprint }}">preprint</a>
    {% endif %}
    {% if entry.design %}
        <a style="font-weight: 700; color: rgb(141, 141, 141);" href="{{ entry.design }}">design</a>
    {% endif %}
    {% if entry.slides %}
        <a style="font-weight: 700; color: rgb(141, 141, 141);" href="{{ entry.slides }}">slides</a>
    {% endif %}
    {% if entry.note %}
    [{{ entry.note }}]
    {% endif %}
    {% if entry.award %}
        <span style="font-weight: 700; color: rgb(243, 158, 2);">{{ entry.award }}</span>
    {% endif %}
    <p></p>
</div>

<!-- <div><pre>{{ entry.bibtex }}</pre></div> -->