<!--home layout-->
{% include header.html %}

<!--intro text-->
<section class="intro">
	<div class="flow">
		<div class="flow-three" style="padding-top: 2rem;">
			<div class="photo-container">
				<div class="personal_photo">
					<img src="{{ site.baseurl }}/assets/images/houji.jpg" alt="personal photo">
				</div>
			</div>

			<br>
			<br>

			<p><b>Contact</b></p>
			<figcaption>liu.ho at utexas dot edu
				<br>
				1616 Guadalupe St., 5.520, Austin, TX, 78701
			</figcaption>
			<br>
			<p><b>Lab & Affiliation</b>
				<br>
			<figcaption>Research group: <br> <a target="_blank" href="https://mattlease.com/lab/">AI & Human-Centered
					Computing</a>
				<br>
				<br>
				Associated research community: <br> <a target="_blank" href="https://www.nlp.utexas.edu/">UT NLP</a> |
				<a target="_blank" href="https://sites.google.com/view/ut-misinformation-ai/">Good System
					Mis/disinformation</a> | <br> <a target="_blank" href="https://www.cosmicai.org/">UT CosmicAI
					Institute</a>
			</figcaption>
			</p>

			<!-- <br> -->
			<!-- <span style="display: block; text-align: center;">
				<a class="icon" href="https://scholar.google.com/citations?user=a8xtohIAAAAJ&hl=en" target="_blank" title="Pulication"> <i class="ai ai-google-scholar ai-x"></i> </a>
				<a class="icon" href="https://www.linkedin.com/in/liuhoujiang/" target="_blank" title="Linkedin"> <i class="fab fa-linkedin-in" style="font-size: 0.8em;"></i> </a>
			</span> -->
		</div>
		<div class="flow-three-one" style="padding-top: 2rem;">
			<p>Hi, My name is <b>Houjiang Liu</b> ("Whole-jyahng Lyoo"), a doctoral candidate (2021 to present) at the
				School of Information, UT Austin. Currently, I am advised by professor <a target="_blank"
					href="https://www.ischool.utexas.edu/~ml/">Matthew Lease</a> in the research group <a
					target="_blank" href="https://mattlease.com/lab/">AI & Human-Centered Computing</a>.
				My broad research interest focuses on Human-Centered AI and Design Research, with an emphasis on
				integrating
				human-centered principles into AI system design.</p>

			<p>Previously, I was a design researcher in <a target="_blank"
					href="https://camd.northeastern.edu/center-for-design/">Center for Design</a> at the Northeastern
				University, advised by
				professor <a target="_blank" href="https://camd.northeastern.edu/faculty/miso-kim/">Miso Kim</a> on
				designing services grounded in autonomy and <a target="_blank"
					href="https://camd.northeastern.edu/faculty/paolo-ciuccarelli/">Paolo
					Ciuccarelli</a> on visualizing interactive network graphs. I was also a part-time lecturer
				teaching Interaction Design in CAMD at Northeastern. Before my academic career, I was an Interaction
				Designer, working at <a target="_blank" href="https://jelly.jd.com/">JD.com (Beijing)</a> and <a
					target="_blank" href="https://seetatech.com/">SeetaTech AI (Beijing)</a>. </p>

			<br>

			<p><b>Research Highlights</b></p>

			<div class="content">
				<p>
					One central research focus is designing human-centered AI tools to
						protect information integrity. By collaborating with diverse stakeholders, such as
					journalists, fact-checkers, and the public, I help combat mis/disinformation and foster informed
					public discourse:</p>
					<ul>
						<li style="margin-bottom: 0;">Design principles for human-centered NLP fact-checking (<a target="_blank" href="https://dl.acm.org/doi/10.1145/3686962">Liu et al. 2024</a>, <a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S030645732200320X?via%3Dihub">Das et al. 2023</a>)</li>
						<li style="margin-top: 0;">AI-assisted multidimensional claim prioritization (<a target="_blank" href="https://arxiv.org/abs/2412.08185">Liu et al. 2025</a>)</li>
						<li style="margin-top: 0;">Mitigate confirmation bias via LLM-generated multi-persona debate (<a target="_blank" href="https://arxiv.org/abs/2412.04629">Shi et al. 2024</a>)</li>
					</ul>
				
				<p>
					My recent research interest expands to AI-accelerated scientific discovery, investigating how
					using LLMs and agents might influence different research activities:</p>
					<ul>
						<li style="margin-bottom: 0;">LLM impacts on scientific knowledge production (<a target="_blank" href="https://arxiv.org/abs/2505.12666">Xu et al. 2025</a>)</li>
					</ul>
				<p>
					My earlier work mainly focuses on service design for older adults:</p>
					<ul>
						<li style="margin-bottom: 0;">Community service for older adults' tech literacy and nursing
							(<a target="_blank" href="https://www.tandfonline.com/doi/full/10.1080/14606925.2023.2259240">Li et al. 2023</a>, 
							<a target="_blank" href="https://link.springer.com/chapter/10.1007/978-981-19-4472-7_165">Liu et al. 2022</a>, 
							<a target="_blank" href="https://link.springer.com/chapter/10.1007/978-981-19-4472-7_103">Liu et al. 2022</a>)</li>
						<li style="margin-top: 0;">Conversational agents for older adults' health (<a target="_blank" href="https://arxiv.org/abs/2503.23153">An et al. 2025</a>)</li>
						<li style="margin-top: 0;">Service design metrics (<a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S240587262300062X?via%3Dihub">Chehade et al. 2023</a>)</li>
					</ul>
				
			</div>

			<div class="content">
				<p><a href="{{ site.baseurl }}/work.html">All research projects</a>, <a target="_blank"
					href="https://scholar.google.com/citations?hl=en&user=a8xtohIAAAAJ&view_op=list_works&sortby=pubdate">Google
					Scholar</a></p>
			</div>

			<br>

			<p><b>Updates</b></p>

			<div class="content">
				<p>[03.2025] Honored to receive the <a target="_blank"
						href="https://gradschool.utexas.edu/funding/fellowships/grad-school/continuing">UT Graduate
						Continuing Fellowship</a>.</p>
				<p>[02.2025] Our work on <a target="_blank" href="https://arxiv.org/abs/2412.08185">Exploring
						multidimensional checkworthiness</a> is accepted at CSCW25. I will present the work at <a
						target="_blank" href="https://www.ischools.org/">iSchools</a> Doctoral Seminar Series in August.
				</p>
				<p>[01.2025] Successfully pass qualifying procedure and enter candidacy. Paper about Rhetorical XAI
					is uploaded <a target="_blank" href="https://arxiv.org/abs/2505.09862">arxiv25</a>.</p>
				<p>[11.2024] Our work on <a target="_blank" href="https://arxiv.org/abs/2412.04629">LLM multi-persona
						debates to reduce confirmation bias</a> is presented at <a target="_blank"
						href="https://ischool.utexas.edu/ischool-ai-showcase">iSchool AI Showcase</a>.</p>
				<p>[11.2024] Our co-design paper on <a target="_blank"
						href="https://dl.acm.org/doi/10.1145/3686962">Human-centered NLP Fact-checking using Matchmaking
						for AI</a> has been awarded <span style="font-weight: 500; color: rgb(214, 6, 6);"><i
							class="fa-solid fa-award"></i> honorable mention (top 4% submitted paper)</span> at CSCW24.
				</p>
			</div>
		</div>
</section>

<!-- <section class="research-highlight">
	<div class="flow" style="height: 100vh;">
		<div class="flow-three" style="padding-top: 2rem;">

			
		</div>

		<div class="flow-three-one" style="padding-top: 2rem;">

		</div>
	</div>
</section> -->

{% include footer.html %}