<!--home layout-->
{% include header.html %}

<!--intro text-->
<section class="intro">
	<div class="flow">
		<div class="flow-three" style="padding-top: 2rem;">
			<div class="photo-container">
				<div class="personal_photo">
					<img src="{{ site.baseurl }}/assets/images/houji_headshot.jpg" alt="personal photo">
				</div>
			</div>
			<br>
			<p><b>Contact</b></p>
			<figcaption>liu.ho at utexas dot edu
				<br>
				1616 Guadalupe St., 5.520, Austin, TX, 78701
			</figcaption>
			<br>
			<p><b>Lab & Affiliation</b>
				<br>
			<figcaption>Research group: <br> <a target="_blank" href="https://mattlease.com/lab/">AI & Human-Centered
					Computing</a>
				<br>
				<br>
				Associated research community: <br> <a target="_blank" href="https://www.nlp.utexas.edu/">UT NLP</a> |
				<a target="_blank" href="https://sites.google.com/view/ut-misinformation-ai/">Good System
					Mis/disinformation</a> | <br> <a target="_blank" href="https://www.cosmicai.org/">UT CosmicAI
					Institute</a>
			</figcaption>
			</p>

			<!-- <br> -->
			<!-- <span style="display: block; text-align: center;">
				<a class="icon" href="https://scholar.google.com/citations?user=a8xtohIAAAAJ&hl=en" target="_blank" title="Pulication"> <i class="ai ai-google-scholar ai-x"></i> </a>
				<a class="icon" href="https://www.linkedin.com/in/liuhoujiang/" target="_blank" title="Linkedin"> <i class="fab fa-linkedin-in" style="font-size: 0.8em;"></i> </a>
			</span> -->
		</div>
		<div class="flow-three-one" style="padding-top: 2rem;">
			<p>Hi, I'm <b>Houjiang Liu</b> ("Whole-jyahng Lyoo"), a doctoral candidate (2021 to present) at the
				School of Information, UT Austin. Currently, I am advised by professor <a target="_blank"
					href="https://www.ischool.utexas.edu/~ml/">Matthew Lease</a> in the research group <a
					target="_blank" href="https://mattlease.com/lab/">AI & Human-Centered Computing</a>.
				</p>
					<!-- My broad research interest focuses on Human-Centered AI and Design Research, with an emphasis on
				integrating
				human-centered principles into AI system design. -->
			<p>Previously, I was a design researcher in <a target="_blank"
					href="https://camd.northeastern.edu/center-for-design/">Center for Design</a> at the Northeastern
				University, advised by
				professor <a target="_blank" href="https://camd.northeastern.edu/faculty/miso-kim/">Miso Kim</a> on
				designing services grounded in autonomy and <a target="_blank"
					href="https://camd.northeastern.edu/faculty/paolo-ciuccarelli/">Paolo
					Ciuccarelli</a> on visualizing interactive network graphs. I was also a part-time lecturer
				teaching Interaction Design in CAMD at Northeastern. Before my academic career, I was an Interaction
				Designer, working at <a target="_blank" href="https://jelly.jd.com/">JD.com (Beijing)</a> and <a
					target="_blank" href="https://seetatech.com/">SeetaTech AI (Beijing)</a>. </p>

			<br>

			<p><b>Research Highlights</b></p>

			<div class="content">
				<p>
					A major strand of my work involves collaborating with key stakeholders in the online information ecosystem, 
					such as journalists, fact-checkers, and the public, to address mis/disinformation and foster informed public discourse:</p>
					<ul>
						<li style="margin-bottom: 0;">Principles for human-centered NLP fact-checking (<a target="_blank" href="https://dl.acm.org/doi/10.1145/3686962">Liu et al. 2024</a>, <a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S030645732200320X?via%3Dihub">Das et al. 2023</a>)</li>
						<li style="margin-top: 0;">AI-assisted multidimensional claim prioritization (<a target="_blank" href="https://dl.acm.org/doi/10.1145/3757473">Liu et al. 2025</a>)</li>
						<li style="margin-top: 0;">Mitigate confirmation bias via LLM-generated multi-persona debate (<a target="_blank" href="https://arxiv.org/abs/2412.04629">Shi et al. 2024</a>)</li>
					</ul>
				
				<p>
					More recently, I have expanded my interests to AI-accelerated scientific discovery, 
					examining how large language models (LLMs) and LLM-based agents may shape research activities (<a target="_blank" href="https://arxiv.org/abs/2505.12666">Xu et al. 2025</a>).</p>
				<p>
					In addition, building on my prior work, I continue to investigate service design for older adults’ tech literacy and health 
					(<a target="_blank" href="https://www.tandfonline.com/doi/full/10.1080/14606925.2023.2259240">Li et al. 2023</a>, 
						<a target="_blank" href="https://link.springer.com/chapter/10.1007/978-981-19-4472-7_165">Liu et al. 2022</a>, 
						<a target="_blank" href="https://link.springer.com/chapter/10.1007/978-981-19-4472-7_103">Liu et al. 2022</a>,
						<a target="_blank" href="https://arxiv.org/abs/2503.23153">An et al. 2025</a>) 
					and information visualization
					(<a target="_blank" href="https://doi.org/10.1093/iwc/iwad042">Colombo et al. 2023</a>,
					<a target="_blank" href="https://ieeexplore.ieee.org/document/9975443">Li et al. 2022</a>).
				
			</div>

			<div class="content">
				<p><a href="{{ site.baseurl }}/work.html">Other Research</a>, <a target="_blank"
					href="https://scholar.google.com/citations?hl=en&user=a8xtohIAAAAJ&view_op=list_works&sortby=pubdate">Google
					Scholar</a></p>
			</div>

			<br>

			<p><b>Updates</b></p>

			<div class="content">
				<p>[11.2025] Led by <a target="_blank" href="https://www.linkedin.com/in/yinan-dong/">Yinan from MIT SCL</a>, our data visualization <a target="_blank"
						href="https://informationplusconference.com/2025/exhibition_items/05_item/">Biophilia: Mapping the Emotional Pulse of Urban Nature</a> will be exhibited in the Biennial Information + Conference 2025. Location: MIT Media Lab East Lobby, November 14-16.</p>
				<p>[03.2025] Honored to receive the <a target="_blank"
						href="https://gradschool.utexas.edu/funding/fellowships/grad-school/continuing">UT Graduate
						Continuing Fellowship</a>.</p>
				<p>[02.2025] Our work on <a target="_blank" href="https://arxiv.org/abs/2412.08185">Exploring
						multidimensional checkworthiness</a> is accepted at CSCW25. I will present the work at <a
						target="_blank" href="https://www.ischools.org/">iSchools</a> Doctoral Seminar Series in August and attend this year CSCW in October.
				</p>
				<p>[01.2025] Successfully pass qualifying procedure and enter candidacy. Paper about Rhetorical XAI
					is uploaded <a target="_blank" href="https://arxiv.org/abs/2505.09862">arxiv25</a>.</p>
				<p>[11.2024] Our work on <a target="_blank" href="https://arxiv.org/abs/2412.04629">LLM multi-persona
						debates to reduce confirmation bias</a> is presented at <a target="_blank"
						href="https://ischool.utexas.edu/ischool-ai-showcase">iSchool AI Showcase</a>.</p>
				<p>[11.2024] Our co-design paper on <a target="_blank"
						href="https://dl.acm.org/doi/10.1145/3686962">Human-centered NLP Fact-checking using Matchmaking
						for AI</a> has been awarded <span style="font-weight: 500; color: rgb(214, 6, 6);"><i
							class="fa-solid fa-award"></i> honorable mention (top 4% submitted paper)</span> at CSCW24.
				</p>
			</div>
		</div>
</section>

<!-- <section class="research-highlight">
	<div class="flow" style="height: 100vh;">
		<div class="flow-three" style="padding-top: 2rem;">

			
		</div>

		<div class="flow-three-one" style="padding-top: 2rem;">

		</div>
	</div>
</section> -->

{% include footer.html %}