<!--home layout-->
{% include header.html %}

<!--intro text-->
<section class="intro">
	<div class="flow">
		<div class="flow-three" style="padding-top: 2rem;">
			<div class="photo-container">
				<div class="personal_photo">
					<img src="{{ site.baseurl }}/assets/images/houji_headshot.jpg" alt="personal photo">
				</div>
			</div>
			<br>
			<p><b>Contact</b></p>
			<figcaption>liu.ho at utexas dot edu
				<br>
				1616 Guadalupe St., 5.520, Austin, TX, 78701
			</figcaption>
			<br>
			<p><b>Lab & Affiliation</b>
				<br>
			<figcaption>Research group: <br> <a target="_blank" href="https://mattlease.com/lab/">AI & Human-Centered
					Computing</a>
				<br>
				<br>
				Associated research community: <br> <a target="_blank" href="https://www.nlp.utexas.edu/">UT NLP</a> |
				<a target="_blank" href="https://sites.google.com/view/ut-misinformation-ai/">UT Good System
					Mis/disinformation</a> | <br> <a target="_blank" href="https://www.cosmicai.org/">NSF-Simons
					CosmicAI Institute</a>
			</figcaption>
			</p>

			<p>
				<a target="_blank"
					href="https://scholar.google.com/citations?hl=en&user=a8xtohIAAAAJ&view_op=list_works&sortby=pubdate">Google
					Scholar</a>
			</p>

			<!-- <br> -->
			<!-- <span style="display: block; text-align: center;">
				<a class="icon" href="https://scholar.google.com/citations?user=a8xtohIAAAAJ&hl=en" target="_blank" title="Pulication"> <i class="ai ai-google-scholar ai-x"></i> </a>
				<a class="icon" href="https://www.linkedin.com/in/liuhoujiang/" target="_blank" title="Linkedin"> <i class="fab fa-linkedin-in" style="font-size: 0.8em;"></i> </a>
			</span> -->
		</div>
		<div class="flow-three-one" style="padding-top: 2rem;">

			<p style="padding-top: 1em;"><span style="font-size: x-large; font-weight: 600;">Houjiang Liu</span>
				<span>("Whole-jyahng Lyoo")</span>
			</p>
			<p>I'm a doctoral candidate (2021 to present) at <a target="_blank"
					href="https://www.ischool.utexas.edu/">School of Information, UT Austin</a>.
				I'm currently advised by Professor <a target="_blank" href="https://www.ischool.utexas.edu/~ml/">Matthew
					Lease</a> in the <a target="_blank" href="https://mattlease.com/lab/">AI & Human-Centered
					Computing</a> research group and as part of the <a target="_blank"
					href="https://www.nlp.utexas.edu/">UT NLP community</a>.
				My broad research interests include Human-AI Interaction, with a particular emphasis on human-centered
				NLP fact-checking, where I collaborate with fact-checkers to design tools to protect information
				integrity.
				More recently, I have begun studying AI-assisted scientific discovery, exploring how LLMs and agentic
				systems shape research practices.
			</p>
			<p>Previously, I was a Design Researcher in <a target="_blank"
					href="https://camd.northeastern.edu/center-for-design/">Center for Design</a> at the Northeastern
				University, advised by
				professor <a target="_blank" href="https://camd.northeastern.edu/faculty/miso-kim/">Miso Kim</a> on
				designing services grounded in autonomy and <a target="_blank"
					href="https://camd.northeastern.edu/faculty/paolo-ciuccarelli/">Paolo
					Ciuccarelli</a> on visualizing interactive network graphs. I was also a part-time lecturer
				teaching Interaction Design in CAMD at Northeastern. Before my academic career, I was an Interaction
				Designer, working at <a target="_blank" href="https://jelly.jd.com/">JD.com</a> and <a target="_blank"
					href="https://seetatech.com/">SeetaTech AI</a>. </p>
			<br>
			<div class="content">
				<p><b>Updates</b></p>
				<p>[02.2026] Present our recent work on <a href="https://arxiv.org/abs/2601.12152">trade-offs in
						LLM-supported
						research ideation</a> at <a target="_blank"
						href="https://cosmicai.org/hybrid-seminar-videos/v/tradeoffs-in-llmsupported-research-ideation">CosmicAI
						hybrid seminar</a>.</p>
				<p>[11.2025] Led by <a target="_blank" href="https://www.linkedin.com/in/yinan-dong/">Yinan from MIT
						SCL</a>, our data visualization <a target="_blank"
						href="https://informationplusconference.com/2025/exhibition_items/05_item/">Biophilia: Mapping
						the Emotional Pulse of Urban Nature</a> will be exhibited in the Biennial Information +
					Conference 2025. Location: MIT Media Lab East Lobby, November 14-16.</p>
				<p>[03.2025] Honored to receive the <a target="_blank"
						href="https://gradschool.utexas.edu/funding/fellowships/grad-school/continuing">UT Graduate
						Continuing Fellowship</a>.</p>
				<p>[02.2025] Our work on <a target="_blank" href="https://arxiv.org/abs/2412.08185">Exploring
						Multidimensional Checkworthiness</a> is accepted at CSCW25. I will present the work at <a
						target="_blank" href="https://www.ischools.org/">iSchools</a> Doctoral Seminar Series in August
					and attend this year CSCW in October.
				</p>
				<p>[01.2025] Successfully pass qualifying procedure and enter candidacy. Paper about Rhetorical XAI
					is accessible at <a target="_blank" href="https://arxiv.org/abs/2505.09862">arXiv</a>.</p>
				<br>
				<p><b>Selected Work</b></p>

				<div class="category-header">Designing responsible AI to protect information integrity</div>
				<p><span class="Selected">Exploring Multidimensional Checkworthiness: Designing AI-assisted Claim
						Prioritization for Human Fact-checkers</span> | <span>CSCW 2025</span> | <a target="_blank"
						href="https://dl.acm.org/doi/10.1145/3757473">DOI</a> | <a target="_blank"
						href="https://github.com/JialingJia/claim_prioritization">Code</a> | <a target="_blank"
						href="https://utexas.box.com/s/rphmj5gt9ox33u0yez70zgmm94fm5gox">Slides</a> | <a target="_blank"
						href="https://www.youtube.com/watch?v=l5dHjMD18_I">Video</a>
				</p>
				<p><span class="Selected">Human-centered NLP Fact-checking: Co-Designing with Fact-checkers using
						Matchmaking for AI</span> | <span style="font-weight: 600; color: rgb(214, 6, 6);"><i
							class="fa-solid fa-award"></i> Best Paper Honorable Mention</span> | <span>CSCW 2024</span>
					| <a target="_blank" href="https://dl.acm.org/doi/10.1145/3686962">DOI</a> | <a target="_blank"
						href="https://utexas.box.com/s/jo3y4v9zjwu093de2qa5oo8dkdp3kc23">Slides</a>
				</p>
				<p><span class="Selected">The State of Human-centered NLP Technology for Fact-checking</span> |
					<span>Information Processing & Management 2023</span> | <a target="_blank"
						href="https://doi.org/10.1016/j.ipm.2022.103219">DOI</a>
				</p>

				<div class="category-header">Persuasive and rhetorical design</div>
				<p><span class="Selected">Rhetorical XAI: Explaining AI's Benefits as well as its Use via Rhetorical
						Design</span> | <span>Preprint 2025</span> | <a target="_blank"
						href="https://arxiv.org/abs/2505.09862">arXiv</a>
				</p>
				<p><span class="Selected">Argumentative Experience: Reducing Confirmation Bias on Controversial Issues
						through LLM-generated Multi-persona Debates</span> | <span>Preprint 2024</span> | <a
						target="_blank" href="https://arxiv.org/abs/2412.04629">arXiv</a> | <a target="_blank"
						href="https://utexas.box.com/s/pgc8znjbpzcmvrgpdvbs1s20urfwx9er">Slides</a>
				</p>
				<p><span class="Selected">Designing for people you can't meet: Persuasive design to nurture seniors'
						participation in community services during the COVID-19 pandemic</span> | <span>The Design
						Journal 2023</span> | <a target="_blank"
						href="https://doi.org/10.1080/14606925.2023.2259240">DOI</a>
				</p>

				<div class="category-header">LLM-supported research ideation</div>
				<p><span class="Selected">Who Owns Creativity and Who Does the Work? Trade-offs in LLM-Supported
						Research Ideation</span> | <span>Preprint 2026</span> | <a target="_blank"
						href="https://arxiv.org/abs/2601.12152">arXiv</a> | <a target="_blank"
						href="https://utexas.box.com/s/026z3z3ypru2mqkt83tv1drm70xhx0c8">Slides</a> | <a target="_blank"
						href="https://cosmicai.org/hybrid-seminar-videos/v/tradeoffs-in-llmsupported-research-ideation">Video</a>
				</p>

				<!-- <p><span class="Selected">An Empirical Study of How Service Designers Use Metrics</span> |
					<span>She Ji: The Journal of Design, Economics, and Innovation 2023</span> | <a target="_blank"
						href="https://doi.org/10.1016/j.sheji.2023.10.001">DOI</a>
				</p> -->
				<p><a href="{{ site.baseurl }}/work.html">Other Research</a></p>
			</div>
		</div>
</section>

<!-- <section class="research-highlight">
	<div class="flow" style="height: 100vh;">
		<div class="flow-three" style="padding-top: 2rem;">

			
		</div>

		<div class="flow-three-one" style="padding-top: 2rem;">

		</div>
	</div>
</section> -->

{% include footer.html %}